In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
%matplotlib inline

In [10]:
delivery = pd.read_csv("deliveries.csv")
data = delivery

In [11]:
batsman_name="S Dhawan"
bowler_name="RP Singh"

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
match_id            150460 non-null int64
inning              150460 non-null int64
batting_team        150460 non-null object
bowling_team        150460 non-null object
over                150460 non-null int64
ball                150460 non-null int64
batsman             150460 non-null object
non_striker         150460 non-null object
bowler              150460 non-null object
is_super_over       150460 non-null int64
wide_runs           150460 non-null int64
bye_runs            150460 non-null int64
legbye_runs         150460 non-null int64
noball_runs         150460 non-null int64
penalty_runs        150460 non-null int64
batsman_runs        150460 non-null int64
extra_runs          150460 non-null int64
total_runs          150460 non-null int64
player_dismissed    7438 non-null object
dismissal_kind      7438 non-null object
fielder             5369 non-null object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB

In [13]:
data.drop(columns=["match_id","inning","batting_team","bowling_team","player_dismissed","over","bye_runs","non_striker","penalty_runs"],inplace=True)

In [14]:
data

,ball,batsman,bowler,is_super_over,wide_runs,legbye_runs,noball_runs,batsman_runs,extra_runs,total_runs,dismissal_kind,fielder
0,1,DA Warner,TS Mills,0,0,0,0,0,0,0,NaN,NaN
1,2,DA Warner,TS Mills,0,0,0,0,0,0,0,NaN,NaN
2,3,DA Warner,TS Mills,0,0,0,0,4,0,4,NaN,NaN
3,4,DA Warner,TS Mills,0,0,0,0,0,0,0,NaN,NaN
4,5,DA Warner,TS Mills,0,2,0,0,0,2,2,NaN,NaN
5,6,S Dhawan,TS Mills,0,0,0,0,0,0,0,NaN,NaN
6,7,S Dhawan,TS Mills,0,0,1,0,0,1,1,NaN,NaN
7,1,S Dhawan,A Choudhary,0,0,0,0,1,0,1,NaN,NaN
8,2,DA Warner,A Choudhary,0,0,0,0,4,0,4,NaN,NaN
9,3,DA Warner,A Choudhary,0,0,0,1,0,1,1,NaN,NaN
10,4,DA Warner,A Choudhary,0,0,0,0,6,0,6,NaN,NaN
11,5,DA Warner,A Choudhary,0,0,0,0,0,0,0,caught,Mandeep Singh
12,6,MC Henriques,A Choudhary,0,0,0,0,0,0,0,NaN,NaN
13,7,MC Henriques,A Choudhary,0,0,0,0,4,0,4,NaN,NaN
14,1,S Dhawan,TS Mills,0,0,0,0,1,0,1,NaN,NaN
15,2,MC Henriques,TS Mills,0,0,0,0,0,0,0,NaN,NaN
16,3,MC Henriques,TS Mills,0,0,0,0,0,0,0,NaN,NaN
17,4,MC Henriques,TS Mills,0,0,0,0,3,0,3,NaN,NaN
18,5,S Dhawan,TS Mills,0,0,0,0,1,0,1,NaN,NaN
19,6,MC Henriques,TS Mills,0,0,0,0,1,0,1,NaN,NaN
20,1,MC Henriques,YS Chahal,0,0,0,0,0,0,0,NaN,NaN
21,2,MC Henriques,YS Chahal,0,0,0,0,1,0,1,NaN,NaN
22,3,S Dhawan,YS Chahal,0,0,0,0,0,0,0,NaN,NaN
23,4,S Dhawan,YS Chahal,0,0,0,0,1,0,1,NaN,NaN
24,5,MC Henriques,YS Chahal,0,0,0,0,1,0,1,NaN,NaN
25,6,S Dhawan,YS Chahal,0,0,0,0,1,0,1,NaN,NaN
26,1,S Dhawan,S Aravind,0,0,0,0,1,0,1,NaN,NaN
27,2,MC Henriques,S Aravind,0,0,0,0,1,0,1,NaN,NaN
28,3,S Dhawan,S Aravind,0,0,0,0,1,0,1,NaN,NaN
29,4,MC Henriques,S Aravind,0,0,0,0,2,0,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
150430,1,KL Rahul,BCJ Cutting,0,0,0,0,1,0,1,NaN,NaN
150431,2,SR Watson,BCJ Cutting,0,0,0,0,1,0,1,NaN,NaN
150432,3,KL Rahul,BCJ Cutting,0,0,0,0,0,0,0,bowled,NaN
150433,4,Sachin Baby,BCJ Cutting,0,0,0,0,0,0,0,NaN,NaN
150434,5,Sachin Baby,BCJ Cutting,0,0,0,0,1,0,1,NaN,NaN
150435,6,SR Watson,BCJ Cutting,0,0,0,0,1,0,1,NaN,NaN
150436,1,SR Watson,Mustafizur Rahman,0,0,0,0,0,0,0,NaN,NaN
150437,2,SR Watson,Mustafizur Rahman,0,0,0,0,2,0,2,NaN,NaN
150438,3,SR Watson,Mustafizur Rahman,0,0,0,0,0,0,0,caught,MC Henriques
150439,4,Sachin Baby,Mustafizur Rahman,0,0,0,0,1,0,1,NaN,NaN
150440,5,STR Binny,Mustafizur Rahman,0,0,0,0,6,0,6,NaN,NaN
150441,6,STR Binny,Mustafizur Rahman,0,0,0,0,1,0,1,NaN,NaN
150442,1,STR Binny,B Kumar,0,0,0,0,0,0,0,NaN,NaN
150443,2,STR Binny,B Kumar,0,0,0,0,1,0,1,NaN,NaN
150444,3,Sachin Baby,B Kumar,0,0,0,0,1,0,1,NaN,NaN
150445,4,STR Binny,B Kumar,0,0,0,0,0,0,0,NaN,NaN
150446,5,STR Binny,B Kumar,0,0,1,0,0,1,1,NaN,NaN
150447,6,Sachin Baby,B Kumar,0,0,0,0,4,0,4,NaN,NaN
150448,1,STR Binny,Mustafizur Rahman,0,0,0,0,1,0,1,run out,DJ Hooda
150449,2,CJ Jordan,Mustafizur Rahman,0,0,0,0,2,0,2,NaN,NaN
150450,3,CJ Jordan,Mustafizur Rahman,0,0,0,0,0,0,0,NaN,NaN
150451,4,CJ Jordan,Mustafizur Rahman,0,0,1,0,0,1,1,NaN,NaN
150452,5,Sachin Baby,Mustafizur Rahman,0,0,0,0,2,0,2,NaN,NaN
150453,6,Sachin Baby,Mustafizur Rahman,0,0,0,0,6,0,6,NaN,NaN
150454,1,CJ Jordan,B Kumar,0,0,0,0,1,0,1,NaN,NaN
150455,2,Sachin Baby,B Kumar,0,0,0,0,2,0,2,NaN,NaN
150456,3,Sachin Baby,B Kumar,0,0,0,0,0,0,0,run out,NV Ojha
150457,4,Iqbal Abdulla,B Kumar,0,0,1,0,0,1,1,NaN,NaN
150458,5,Sachin Baby,B Kumar,0,0,0,0,1,0,1,NaN,NaN
150459,6,Iqbal Abdulla,B Kumar,0,0,0,0,4,0,4,NaN,NaN

# batsman

In [117]:
def batsman_score_value(batsman_name="S Dhawan"):
    # total run persentile and percentage
    top_batsman_run=data.groupby("batsman")["batsman_runs"].sum().sort_values(ascending=False)

    batsman_run=top_batsman_run[batsman_name]

    top_batsman_size=top_batsman_run.size # total number of batsman

    mask=top_batsman_run.values>batsman_run
    better_batsman=np.sum(mask) #no of true i.e people above the threashold

    percentile_run=(top_batsman_size-better_batsman)/top_batsman_size*100
    percentile_run

    percentage_run=(top_batsman_run[batsman_name]/top_batsman_run[0])*100
    percentage_run

    #mean_run_score=stats.tmean([percentage_run,percentile_run])
    mean_run_score=percentile_run
    #print(percentage_run,percentile_run)
    mean_run_score

    #bests batsman strikerate percentage and percentile
    top_batsman_ball=data.groupby("batsman")["batsman_runs"].count()
    top_batsman_ball=top_batsman_ball[top_batsman_ball>190]
    top_batsman_runrate=(top_batsman_run/top_batsman_ball).sort_values(ascending=False)

    batsman_runrate=top_batsman_runrate[batsman_name]

    top_batsman_size=top_batsman_runrate.size # total number of batsman

    mask=top_batsman_runrate.values>batsman_runrate
    better_batsman=np.sum(mask) #no of true i.e people above the threashold

    percentile_runrate=(top_batsman_size-better_batsman)/top_batsman_size*100
    percentile_runrate

    percentage_runrate=(top_batsman_runrate[batsman_name]/top_batsman_runrate[0])*100
    percentage_runrate

    #mean_runrate_score=stats.tmean([percentage_runrate,percentile_runrate])
    mean_runrate_score=percentile_runrate
    #print(percentage,percentile)
    mean_runrate_score


    batsman_score=stats.tmean([mean_run_score,mean_runrate_score])
    return batsman_score

In [118]:
def bowler_score_value(bowler_name="A Kumble"):
    
    # wicket score
    
    top_bowler=data.groupby("bowler")["dismissal_kind"].count().sort_values(ascending=False)
    bowler_wicket=top_bowler[bowler_name]

    top_bowler_size=top_bowler.size # total number of batsman

    mask=top_bowler.values>bowler_wicket
    better_bowler=np.sum(mask) #no of true i.e people above the threashold

    percentile=(top_bowler_size-better_bowler)/top_bowler_size*100
    percentile

    percentage=(top_bowler[bowler_name]/top_bowler[0])*100
    percentage

    #mean_wicket_score=stats.tmean([percentage,percentile])
    mean_wicket_score=percentile
    

    # economy rate

    bowler_ball=data["bowler"].value_counts()
    bowler_ball=total_ball[total_ball.values>170]

    bowler_runs=data.groupby("bowler")["total_runs"].sum().sort_values(ascending=False)

    economy_rate=(bowler_runs/bowler_ball).dropna().sort_values()

    economy_rate_bowler=economy_rate[bowler_name]

    mean_economy_score=(economy_rate>economy_rate_bowler).sum()/economy_rate.shape[0]*100


    bowler_score=stats.tmean([mean_wicket_score,mean_economy_score])
    return bowler_score

In [132]:
batsman_name=input()
bowler_name=input()

try:
    if(bowler_score_value(bowler_name)>batsman_score_value(batsman_name)):
        print("The Bowler, "+bowler_name+" is a better player")
    else:
        print("The Batsman, "+ batsman_name +"is a better player")
except:
    print("Invalid Name OR Unknown player")

RP Singh
A Kumble
The Bowler A Kumble is a better player

C:\Users\Swastik\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: RuntimeWarning: invalid value encountered in greater